/* Стандартныые настройки */
html, body {
    min-height: 100% !important;
    height: 100%;
    scroll-behavior: smooth;
}

* {
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

table {
    margin: 0;
    padding: 0;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

table {
    margin: 0;
    padding:0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
    padding: 0;
    width: 100%;
}


p {
    font-family: 'Nokia Sans S60', sans-serif; /* Шрифт */
    font-weight: 450; /* Жирность шрифта */
    text-align: left; /* Выравнивание текста по левому краю */
    font-size: 1.3rem; /* Базовый размер шрифта */
    line-height: 1.5; /* Высота строки для улучшения читаемости */
    color: #FFFFFF; /* Цвет текста */
    margin: 5%; /* Отступы вокруг абзаца */
    padding: 10px; /* Внутренние отступы для улучшения визуального восприятия */
    border-radius: 5px; /* Закругленные углы для фона */
}

@media (max-width: 480px) {
    p {
        font-size: 0.8rem;
    }
}

/* Анимации */
@keyframes jump {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Контейнеры для текста */
@font-face {
    font-family: 'Nokia Sans S60';
    src: url('font/Nokia Sans S60.ttf') format('woff2');
}

@font-face {
    font-family: 'Correction Brush';
    src: url('font/Correction Brush.ttf') format('woff2');
}



.containerText {
    position: absolute; /* Позволяет позиционировать контейнер относительно родительского элемента */
    top: 10px; /* Отступ сверху */
    left: 10px; /* Отступ слева */
}



.containerTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Центрирование по вертикали */
    margin: 20px; /* Отступы вокруг контейнера */
    padding: 10px; /* Внутренние отступы */
    gap: 15px; /* Промежуток между элементами */
}


.containerChar {
    display: flex; /* Используем flexbox для расположения элементов */
    align-items: flex-start; /* Выравнивание элементов по верхнему краю */
    justify-content: space-between; /* Распределяем элементы с промежутками между ними */
    margin: 10px; /* Отступы вокруг контейнера */
    padding: 10px; /* Внутренние отступы для улучшения визуального восприятия */
    gap: 15px; /* Промежуток между элементами */
}

.containerGameplay {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.containerSocial {
    display: flex;
    flex-wrap: wrap;
    opacity: 0; /* Начальная непрозрачность для анимации */
    transform: translateY(20px); /* Начальное смещение по оси Y */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавные переходы */
}

.containerSocial.visible {
    opacity: 1;
    transform: translateY(0);
    animation-delay: 0.7s;
}


[id$="C"] {
    /* Каталог: Сюжет | Персонажи | Геймплей | Авторы */
    margin: 0 calc(1%/2);
    z-index: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.3s;
}

.buttonC {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.2s ease, transform 0.2s ease; /* Добавлено свойство для анимации трансформации */
    padding: 10px 15px; /* Внутренние отступы для увеличения области нажатия */
    font-size: 16px; /* Размер шрифта */
}

.buttonC:hover {
    opacity: 0.7; /* Изменение прозрачности при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.buttonC:active {
    opacity: 0.5; /* Изменение прозрачности при нажатии */
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
}

[id$="Title"] {
    /* Титульники: Сюжет | Персонажи | Геймплей | Авторы */
    margin: 3%;
    z-index: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/* Первая страница */
.LimbPreview {
    width: 100%;
    height: 100vh; /* Используйте 100vh для полной высоты экрана */
    background: url(material/limb.png) no-repeat center center; /* Центрирование фона */
    background-size: cover;
    display: flex; /* Используем Flexbox для центрирования содержимого, если нужно */
    justify-content: center; /* Центрируем по горизонтали */
}



.LimbBuy {
    display: inline-flex; /* Используем Flexbox для выравнивания содержимого */
    justify-content: center; /* Центрируем содержимое */
    align-items: center; /* Вертикальное выравнивание */
    max-width: 100%;
    width: 359px;
    height: 90px;
    box-sizing: border-box;
    cursor: pointer;
    background: url(material/buy.png) no-repeat center center; /* Центрирование фона */
    background-size: cover;
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px 0 30px 0; /* Убираем радиус для одной стороны */
    opacity: 0;
    transform: translateY(15px);
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.3s;
    transition: opacity 0.5s ease;
    margin: 20px auto; /* Центрируем элемент по горизонтали */
}


.LimbBuy:hover {
    opacity: 0.72 !important;
}


/* Вторая страница */
#LimbStory {
    background: url(material/bgstory.png) no-repeat center center; /* Центрирование фона */
    width: 100%;
    height: 100vh;
    border-top: 3px solid #FFFFFF;
    padding: 0 0 100px 0; /* Внутренние отступы */
    background-size: cover;
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    flex-direction: column; /* Вертикальное расположение содержимого */
    align-items: center; /* Центрируем содержимое по горизонтали */
}


#storyContent {
    position: absolute;
    width: 100%;
    height: 70%;
    max-width: 995px;
    margin: 7%;
    text-align: center;
}


/* Третья страница */
#LimbCharacters {
    background: url(material/bgchar.png) no-repeat center center; /* Центрируем фон */
    width: 100%;
    height: 100vh;
    border-top: 3px solid #FFFFFF;
    padding: 0 0 100px 0; /* Внутренние отступы */
    background-size: cover;
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    flex-direction: column; /* Вертикальное расположение содержимого */
    align-items: center; /* Центрируем содержимое по горизонтали */
}


#charactersContent {
    position: absolute;
    align-items: flex-start;
    width: 100%;
    height: 70%;
    max-width: 1100px;
    margin: 14%;
    text-align: center;
}


.avatar-container {
    display: flex; /* Используем flexbox для расположения элементов */
    justify-content: center; /* Центрируем элементы по горизонтали */
    align-items: center; /* Центрируем элементы по вертикали */
    margin: 20px; /* Отступы вокруг контейнера */
    flex-direction: column; /* Располагаем элементы в колонку */
    padding: 15px; /* Внутренние отступы для улучшения визуального восприятия */
    border-radius: 10px; /* Закругленные углы для стиля */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для глубины */
}


.avatar {
    width: 5vw; /* Ширина аватара в процентах от ширины окна */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    margin: 10px; /* Отступы вокруг аватара */
    cursor: pointer; /* Указатель курсора при наведении */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход для трансформации и тени */
}

/* Эффект при наведении */
.avatar:hover {
    transform: scale(1.1); /* Увеличение аватара при наведении */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для глубины при наведении */
}

@media (max-width: 480px) {
    .avatar {
        width: 13vw; /* Увеличиваем размер аватара на меньших экранах */
    }
}

.info-box {
    display: flex; /* Используем flexbox для выравнивания элементов */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: center; /* Центрируем элементы по горизонтали */
    text-align: center; /* Выравнивание текста по центру */
    opacity: 0; /* Начальная прозрачность */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавный переход для прозрачности и трансформации */
    transform: translateY(10px); /* Сдвиг вниз для эффекта появления */
    padding: 15px; /* Внутренние отступы для улучшения визуального восприятия */
    border-radius: 8px; /* Закругленные углы для стиля */
    color: white; /* Цвет текста */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Тень для глубины */
}

/* Эффект появления */
.info-box.visible {
    opacity: 1; /* Полная непрозрачность */
}


/* Четвёртая страница */
#LimbGameplay {
    background: url(material/bggameplay.png) no-repeat center center; /* Центрируем фон */
    width: 100%;
    height: 100vh;
    border-top: 3px solid #FFFFFF;
    padding: 0 0 100px 0; /* Внутренние отступы */
    background-size: cover;
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    flex-direction: column; /* Вертикальное расположение содержимого */
    align-items: center; /* Центрируем содержимое по горизонтали */
}


.gallery {
    width: 80%;
    margin: 25px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 3px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

/* Стиль для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition-delay: 0.3s;
}

.modal.show {
    display: flex;
    animation: fadeIn 0.7s forwards;
}

.modal.fade-out {
    animation: fadeOut 0.5s forwards;
}

.modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}


/* Пятая страница */
#LimbDevelopers {
    background: url(material/bgdevelopers.png) no-repeat center center; /* Центрируем фон */
    width: 100%;
    height: 100vh;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    padding: 0 0 100px 0; /* Внутренние отступы */
    background-size: cover;
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    flex-direction: column; /* Вертикальное расположение содержимого */
    align-items: center; /* Центрируем содержимое по горизонтали */
}


.containerDevelopers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    gap: 8%; /* Промежуток между элементами */
    margin-bottom: 2.5%;
    flex-wrap: wrap; /* Позволяет переносить элементы на новую строку */
    width: 100%; /* Установка ширины на 100% родительского элемента */
    max-width: 1200px; /* Максимальная ширина для больших экранов */
    padding: 20px; /* Внутренние отступы для улучшения восприятия */
    box-sizing: border-box; /* Учитывает отступы и границы в общей ширине */
}




.devel {
    font-family: 'Nokia Sans S60', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.name {
    font-family: 'correction brush', sans-serif;
    margin: 5% 0;
    font-size: 2rem;
    text-align: center;
    line-height: 1.2;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}


@media (max-width: 480px) {
    .containerDevelopers {
        width: 80%; /* Уменьшение ширины на мобильных устройствах */
    }

    .name {
        font-size: 1.2rem; /* Уменьшение размера шрифта для маленьких экранов */
    }

    .devel {
        font-size: 1rem; /* Уменьшение размера шрифта для .dev на маленьких экранах */
        padding: 10px; /* Уменьшение внутренних отступов для .dev */
    }
}

/* Шестая страница */
#LimbSocial {
    background: url(material/bgblack.png) no-repeat center center; /* Центрируем фон */
    width: 100%;

    background-size: cover;
    display: flex; /* Используем Flexbox для выравнивания содержимого */
    flex-direction: column; /* Вертикальное расположение содержимого */
    align-items: center; /* Центрируем содержимое по горизонтали */
}


.img-button {
    position: relative; /* Для позиционирования */
}

.img-button img {
    position: absolute;
    height: auto;
    z-index: 0;
    transition: 0.3s ease;
}

.img-button:hover img {
    animation: jump 0.8s ease infinite;
    content: url('material/topHover.png');
}

.CYan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 3vh; /* Отступ снизу */
    z-index: 0;
}

.buttonVk,
.buttonTelegram,
.buttonYoutube,
.buttonPatrion {
    background: transparent;
    cursor: pointer;
    transition: 0.4s ease;
}

.buttonVk:hover img{
    transition: transform 0.4s ease;
    transform: scale(0.9);
    content: url('material/vkHover.png');
}


.buttonTelegram:hover img{
    transition: transform 0.4s ease;
    transform: scale(0.9);
    content: url('material/telegramHover.png');
}


.buttonYoutube:hover img{
    transition: transform 0.4s ease;
    transform: scale(0.9);
    content: url('material/youtubeHover.png');
}


.buttonPatrion:hover img{
    transition: transform 0.4s ease;
    transform: scale(0.9);
    content: url('material/patrionHover.png');
}

